USE [scores]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 03/03/2026 10:09:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [uniqueidentifier] NOT NULL,
	[course_code] [varchar](20) NOT NULL,
	[course_name] [nvarchar](100) NOT NULL,
	[credits] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Courses] ([id], [course_code], [course_name], [credits]) VALUES (N'e2da5511-3547-4748-8afb-9d278ad5c60b', N'C001', N'Cơ sở dữ liệu', 3)
INSERT [dbo].[Courses] ([id], [course_code], [course_name], [credits]) VALUES (N'791f343b-1c32-4ab9-bc59-c2d79222cc11', N'C002', N'Lập trình C#', 4)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__AB6B45F13C753BED]    Script Date: 03/03/2026 10:09:31 AM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[course_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (newid()) FOR [id]
GO
