USE [grade_cales]
GO
/****** Object:  Table [dbo].[grade_scales]    Script Date: 03/03/2026 10:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grade_scales](
	[id] [uniqueidentifier] NOT NULL,
	[min_score] [decimal](4, 2) NOT NULL,
	[max_score] [decimal](4, 2) NOT NULL,
	[letter_grade] [nvarchar](5) NOT NULL,
	[grade_point] [decimal](3, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[grade_scales] ([id], [min_score], [max_score], [letter_grade], [grade_point], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c3a61391-6e37-46c9-beff-2f403f1e64f7', CAST(7.00 AS Decimal(4, 2)), CAST(7.99 AS Decimal(4, 2)), N'B', CAST(3.00 AS Decimal(3, 2)), CAST(N'2026-03-03T10:24:37.3872639' AS DateTime2), NULL, N'dff23897-ec2d-4b03-8dcf-82ec773af3a1', NULL, NULL, NULL, 1)
INSERT [dbo].[grade_scales] ([id], [min_score], [max_score], [letter_grade], [grade_point], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'5d569818-f144-410d-9cb2-4a428fdd53bb', CAST(8.00 AS Decimal(4, 2)), CAST(8.49 AS Decimal(4, 2)), N'B+', CAST(3.50 AS Decimal(3, 2)), CAST(N'2026-03-03T10:24:37.3872639' AS DateTime2), NULL, N'cd200085-a3dd-40a6-8b2b-3d19cbd85b60', NULL, NULL, NULL, 1)
INSERT [dbo].[grade_scales] ([id], [min_score], [max_score], [letter_grade], [grade_point], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e637edf8-b2ef-44ae-9ba7-84bbf6f91684', CAST(4.00 AS Decimal(4, 2)), CAST(4.99 AS Decimal(4, 2)), N'D', CAST(1.00 AS Decimal(3, 2)), CAST(N'2026-03-03T10:24:37.3872639' AS DateTime2), NULL, N'297ee408-9d60-45a4-9f6a-7e1fb90fbf97', NULL, NULL, NULL, 1)
GO
ALTER TABLE [dbo].[grade_scales] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[grade_scales] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grade_scales] ADD  DEFAULT ((1)) FOR [is_active]
GO
