USE [student]
GO
/****** Object:  Table [dbo].[student]    Script Date: 03/03/2026 2:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[age] [int] NOT NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id], [name], [age], [email]) VALUES (1, N'Nguy?n Van A', 20, N'a@gmail.com')
INSERT [dbo].[student] ([id], [name], [age], [email]) VALUES (2, N'Tr?n Th? B', 21, N'b@gmail.com')
INSERT [dbo].[student] ([id], [name], [age], [email]) VALUES (3, N'Lê Van C', 19, N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
